<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <meta name="description" content="Roxy">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
  <!--  <script src="assets/index/js/modernizr.js"></script>-->

</head>
<div data-spy="scroll" data-target="#navbar" class="static-layout">
  <nav id="header-navbar" class="navbar navbar-expand-lg py-4">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center text-white" href="/">
        <h3 class="font-weight-bolder mb-0">DIY COMBO</h3>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header"
              aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
        <span class="lnr lnr-menu"></span>
      </button>
      <!--      To different pages using router.-->
      <div class="collapse navbar-collapse" id="navbar-nav-header">
        <ul class="navbar-nav ml-auto">
          <li class="nav-itemz">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/combolist">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newcombo">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/userinfo">My Account</a>
          </li>
          <li class="nav-item only-desktop">
            <a class="nav-link" id="side-nav-open" href="/userinfo">
              <span class="lnr lnr-menu"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--  The layout in Web Index Title-->
  <div class="jumbotron d-flex align-items-center">
    <div class="container text-center">
      <h1 class="display-1 mb-4">DY<br>CB</h1>
    </div>
    <div class="rectangle-1"></div>
    <div class="rectangle-2"></div>
    <div class="rectangle-transparent-1"></div>
    <div class="rectangle-transparent-2"></div>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="circle-3"></div>
    <div class="triangle triangle-1">
      <img src="assets/index/img/a.jpg" alt="">
    </div>
    <div class="triangle triangle-2">
      <img src="assets/index/img/obj_triangle.png" alt="">
    </div>
    <div class="triangle triangle-3">
      <img src="assets/index/img/obj_triangle.png" alt="">
    </div>
    <div class="triangle triangle-4">
      <img src="assets/index/img/obj_triangle.png" alt="">
    </div>
  </div>  <!-- Features Section-->
  <section id="features" class="bg-white">
    <div class="container">
      <div class="section-content">
        <!-- Section Title -->
        <div class="title-wrap mb-5" data-aos="fade-up">
          <h2 class="section-title">
            The Best Choice <a href="https://gettemplates.co" target="_blank">For YOU</a>
          </h2>
          <p class="section-sub-title">You can match the food combination. <br> According to your preference.</p>
        </div>
        <!-- End of Section Title -->
        <div class="row">
          <!-- Features Holder-->
          <div class="col-md-10 offset-md-1 features-holder">
            <div class="row">
              <!-- Features Item -->
              <div class="col-md-4 col-sm-12 text-center mt-4">
                <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                  <div class="my-4">
                    <i class="lnr lnr-cog fs-40"></i>
                  </div>
                  <h4>1st</h4>
                  <p>Do you like a healthy diet? Or do you prefer a rich dinner? Or do you prefer a pleasant afternoon
                    tea time? Let's create your favorite meal!</p>
                </div>
                <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                  <div class="my-4">
                    <i class="lnr lnr-frame-contract fs-40"></i>
                  </div>
                  <h4>4th</h4>
                  <p>Did you do something wrong? Never mind. You can view and modify the combos you created in your own
                    home page.</p>
                </div>
              </div>
              <!-- End of Feature Item -->
              <!-- Features Item -->
              <div class="col-md-4 col-sm-12 text-center">
                <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                  <div class="my-4">
                    <i class="lnr lnr-bubble fs-40"></i>
                  </div>
                  <h4>2nd</h4>
                  <p>Match your own combo with a choice of main courses, side dishes, sauces and drinks. Or you can just
                    choose the main course.</p>
                </div>
                <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                  <div class="my-4">
                    <i class="lnr lnr-magic-wand fs-40"></i>
                  </div>
                  <h4>5th</h4>
                  <p>You can also click Delete to delete those combos that you are not satisfied with. These deleted
                    combos will no longer be seen.</p>
                </div>
              </div>
              <!-- End of Feature Item -->
              <!-- Features Item -->
              <div class="col-md-4 col-sm-12 text-center mt-4">
                <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                  <div class="my-4">
                    <i class="lnr lnr-clock fs-40"></i>
                  </div>
                  <h4>3rd</h4>
                  <p> Describe and label it so that others can better understand your topic. And add a title to your
                    combo to attract other people's attention!</p>
                </div>
                <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                  <div class="my-4">
                    <i class="lnr lnr-thumbs-up fs-40"></i>
                  </div>
                  <h4>6th</h4>
                  <p>Next, create your own combo! When you are ready, click the start button below! And we will add some
                    social functions later</p>
                </div>
              </div>
              <!-- End of Feature Item -->
            </div>
          </div>
          <!-- End of Features Holder-->
        </div>
      </div>
    </div>
  </section>
  <!-- End of Features Section-->
  <section id="section-featurettes" class="featurettes overlay bg-fixed"
           style="background-image: url('assets/index/img/bg.jpg');">

    <div class="container">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <div class="row align-items-center text-white">

              <div class="col-md-4 offset-md-2 col-sm-6">
                <h4 class="mb-4">Let's start to choose your favourite combo</h4>
                <p></p>
                <button type="button" class="btn btn-outline-primary" (click)="JumpToNewCombo()">START</button>
              </div><!--/ .col-md-4.col-md-offset-2.col-sm-6 -->

              <div class="col-md-4 offset-md-right-2 col-sm-6">
                <img class="my-5" src="assets/index/img/start_page.jpg" alt="">
              </div><!--/ .col-md-4.col-md-offset-right-2.col-sm-6 -->

            </div><!--/ .featurettes-item -->

          </div><!--/ .col-md-12 -->

        </div><!--/ .row -->
      </div>
    </div><!--/ .container -->

  </section>
</div>
