//Layout of login
.login {
  float: left;
  box-shadow: 0 10px 10px 10px whitesmoke;
  width: 450px;
  height: 500px;
  padding: 30px;
}

// Layout of register
.register {
  float: right;
  box-shadow: 0 10px 10px 10px whitesmoke;
  width: 450px;
  height: 500px;
  padding: 30px;
}

.clear {
  clear: both;
}

.button {
  margin-top: 30px;
}

.padding-top-bottom {
  padding: 100px 0;
}


