.login {
  //float:left;
  //width: 450px;
  height: 250px;
  padding: 30px;
  text-align: center;
}

.register {
  float: right;

  width: 450px;
  height: 360px;
  padding: 30px;
}

.clear {
  clear: both;
}

.button {
  margin-top: 30px;
}

// The layout of welcome fonts
.welcome {
  font-family: "Comic Sans MS";
  font-size: 20px;
  color: #202326;
}

.tableheader {
  border: white;
}

.right {
  margin-right: 120px;
}

.subtitle {
  font-family: Verdana;
  font-size: 18px;
}

.subsubtitle {
  font-family: Verdana;
  font-size: 15px;
}

.center {
  text-align: center;
}

.length {
  width: 390px;
}

.blog-tag small {
  color: #ff00cc;
}


