.diy1{
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.center{
  text-align: center;
  font-size: 22px
}

.table{
  border: #d3d9df;
}

.margin{
  margin-top: 40px;
}

.comment-style {
  margin-top: 40px;
}
